/* resests */
body, ul, figure {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}


/* general styles*/
* {
    font-family: Verdana, sans-serif;
}

:root {
    --dark-blue: #1F2937;
    --main-white: #F9FaF8;
    --pale-white: #E5E7EB;
    --bright-blue: #3882F6;
    --brighter-blue: #2774f0;
    --extra-bold: 900;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
}

section > .content {
    display: flex;
    align-items: center;
}


/* section 1 styles */
#first-section {
    background-color: var(--dark-blue);
}

#first-section > * {
    width: 80%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    padding: 0.75rem;
}

header > .logo {
    font-size: 1.5rem;
    color: var(--main-white);
}

header > .links {
    display: flex;
    color: var(--pale-white);
    font-size: 1.125rem;
}

header > .links > .link-container {
    padding: 0 0.75rem;
}

header > .links > .link-container > a:hover {
    position: relative;
    top: 0.15rem;
}

#first-section > .content {
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 1rem;
    height: 80%;
    flex-grow: 1;
}

#first-section .text-block,
#first-section .image-block {
    height: 50%;
}

#first-section .text-block {
    max-width: 50%;
    color: var(--pale-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#first-section .title {
    color: var(--main-white);
    font-size: 3rem;
    font-weight: var(--extra-bold);
    margin-bottom: 0.5rem;
}

#first-section .text {
    font-size: 1.125rem;
    margin-bottom: 0.75rem;
}

#first-section .sign-up-button {
    display: inline-block;
    color: inherit;
    background-color: var(--bright-blue);
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
}

#first-section .sign-up-button:hover {
    background-color: var(--brighter-blue);
}

#first-section .image-block > img {
	display: block;
	max-width: 100%;
	height: 100%;
	object-fit: scale-down;
}


/* section 2 styles */
#second-section {
    background-color: var(--main-white);
    justify-content: center;
}

#second-section .title {
    font-size: 2.25rem;
    font-weight: var(--extra-bold);
    color: var(--dark-blue);
    margin: 2rem 0;
    text-align: center;
}

#second-section .figures-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#second-section figure {
    text-align: center;
    margin: 2.6rem;
}

#second-section figure > img {
    box-sizing: border-box;
    border: 4px solid var(--bright-blue);
    border-radius: 1.25rem;
    width: 180px;
    height: 180px;
}


/* third section */
#third-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--pale-white);
}

#third-section .content {
    width: 50%;
}

.quotation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.5rem;
    gap: 1rem;
}

.quotation > .text {
    font-style: italic;
}

.quotation > .author {
    font-weight: 600;
}


/* Content of all sections wraps on same width */
@media (max-width: 1000px) {
    /* general styles */
    section {
        /* height auto allows to scretch section depending on height of wrapped
           elements */
        height: auto;
    }


    /* first section */
    #first-section > * {
        width: 65%;
    }

    #first-section > .content {
        flex-wrap: wrap;
        justify-content: center;
    }

    #first-section .image-block,
    #first-section .text-block {
        width: 100%;
        max-width: 100%;
        height: auto;
    }


    /* second-sectioun */
    #second-section > .content > .figures-container {
        flex-wrap: wrap;
    }


    /* third section*/
    #third-section .content {
        width: 60%;
    }
}

@media (max-width: 800px) {
    /* first section */
    #first-section > * {
        width: 75%;
    }


    /* second-section */
    #second-section > .content > .figures-container {
        justify-content: space-evenly;
    }


    /* third section*/
    #third-section .content {
        width: 75%;
    }
}